@page "/"
@inject HttpClient Http
<h3>HomePage</h3>
<PageTitle>Blazing Trails</PageTitle>

@if (_trails == null)
{
    <p>Loading trails...</p>
}
else
{
    <TrailDetails Trail="_selectedTrail" />
    <div class="grid">
        @foreach (var trail in _trails)
        {
            <TrailCard trail="trail" OnSelected="HandleTrailSelected"/>
        }

    </div>
}

<Lifecycle/>

@code {
    /// <summary>
    ///  Данные о тропах
    /// </summary>
    private IEnumerable<Trail>? _trails;
    private Trail? _selectedTrail;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // загрузка тестовые данные из файла .json
            _trails = await Http.GetFromJsonAsync<IEnumerable<Trail>>("trails/trail-data.json");
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading trail data: {ex.Message}");
        }
    }

    private void HandleTrailSelected(Trail trail)
    {
        _selectedTrail = trail;
      //  StateHasChanged();
    }
}
